body {
  width: 100vw;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
}

form {
  padding: 60px;
}

label {
  margin-bottom: 30px;
}

input {
  margin-bottom: 20px;
  height: 40px;
  width: 100%;
  padding: 0 20px;
  font-size: 2em;
}

input::placeholder {
  color: lightgray;
}

button {
  width: 100%;
  cursor: pointer;
}





